.trans-table {
  display: flex;
  flex-direction: column;
  background-color: white;
  height: 300px;
  width: 70%;
  border-radius: 10px;
  margin-bottom: 50px;
  box-shadow: 3px 4px 5px 0px rgba(0,0,0,0.75);
}

.table-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-weight: bold;
  font-size: 15px;
  color: white;
  background-color: black;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 22px;
}

.table-header #trans-hash {
  width: 60%;
}

.table-header #amt-btc {
  margin-left: 35%;
  width: 40%;
}


.table-body {
  overflow-y: scroll;
  scrollbar-width: thin;
  scrollbar-color: dimgray white;
}
