body {
  background-color: #004a7c;
}

img {
  width: 80px;
  margin-right: 5px;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-top: 20px;
  margin-left: 20px;
}

.transaction-header {
  display: flex;
  flex-direction: column;
}

.trans-header-title {
  display: flex;
  justify-content: center;
  font-family: 'Roboto', sans-serif;
  font-size: 25px;
  font-weight: bold;
  color: white;
  margin-top: 25px;
  margin-bottom: 10px;
}

.transactions {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.transactions textarea {
  display: flex;
  width: 50%;
  font-family: 'Roboto', sans-serif;
  font-size: 17px;
  box-sizing: border-box;
  outline: none;
  resize: none;
  padding-left: 10px;
  padding-top: 5.5px;
  height: 35px;
  border-radius: 50px;
  margin-bottom: 20px;
  margin-left: 310px;
}

.transactions p {
  display: flex;
  font-weight: bold;
  font-size: 16px;
  color: white;
  margin-left: 50px;
}

.title {
  display: flex;
  font-family: 'Ubuntu', sans-serif;
  font-style: normal;
  font-size: 45px;
  font-weight: bold;
  color: white;
  padding-top: 10px;
  -webkit-font-smoothing: antialiased;
}

.transactions #transactiontable {
  display: flex;
  justify-content: center;
}

.balance {
  display: flex;
  flex-direction: row;
  margin-left: 215px;
}

.balance #bal-value {
  display: flex;
  margin-left: 10px;
}

.balance #address-value {
  display: flex;
  margin-left: 10px;
}
